<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Tech Blog</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

   <header>
    <div>
      <h1 class="main-title">Tech Blog</h1>
      <p class="phrase">....post content on tech and coding</p>
    </div>
   
       <nav>
       
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        
        <a href="/dashboard/create/"> [Create Post]</a>
        <a href="/dashboard"> [Your Post Dashboard]</a>
        <a href="/" id="logout">[Logout]</a>
        {{else}}
        <a id="loginlink" href="/login">*Login</a>
        <a hid="homelink"ref="/">*Homepage</a>
        {{/if}}

      </nav>

  </header>
     
    <main>
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>

    <footer>
      Leave your tips!
    </footer>


  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="./js/logout.js"></script>
  {{/if}}
  
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
</body>

</html>
