<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Tech Blog</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div>
     <header>
     <h3> Share your thoughts on technology and coding</h3>
     <div>
       <nav>
         <a href="/">Homepage</a>
         <a href="/dashboard">Dashboard</a>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/" id="logout">Logout</a>
    
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
      </div>
   
    <div>
      <h1 class="main-title">TECH BLOG</h1>
    </div>
    
     </header>
     
    <main>
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>

    <footer>
      Leave your tips!
    </footer>

  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="./js/logout.js"></script>
  {{/if}}

</body>

</html>
