

{{#if posts.length}}
<section>
    <h3> Dashboard</h3>
    {{#each posts as |post|}}
  
        {{> dashboard-post-info post}}

    {{/each}}


</section>
{{/if}}

<button type="submit" class="btn"><a href="/dashboard/new"> + New Post</a></button>


<script src="/js/add-post.js"></script>