<section class="new-post-area">
    <button type="submit" class="btn" id="create-new-post"><a href="/dashboard/new">+ New Post</a></button>
</section>

{{#if posts.length}}
<section>
    <h1> Dashboard</h1>
    <ul class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> post-info post}}
        <a href="/dashboard/edit/{{post.id}}" class="edit-link"> Edit Post</a>
    </li>
    {{/each}}

    </ul>
</section>
{{/if}}

