
  <h3> Your Post</h3>
{{#if posts.length}}
<section>
  
{{#each posts as |post|}}
  
{{> post-info post}}

    
<a href="/dashboard/edit/{{post.id}}"><button class="edit-btn btn">Edit the Post</button></a>
</section>
{{/each}}

<a href="/dashboard/create"><button type="submit"  class="btn"> + New Post</button></a>


{{/if}}