{{> post-info post}}
{{#if logged_in}}
<form class="comment-form" id="comment-form">
<div>
    <input name="comment-body"></input>
</div>
<div>
    <button type ="submit">Add Comment</button> 
</div>
</form>
{{/if}}

{{> comments post.comments}}
{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}
