<form id="signup-form">
    <h3>SignUP</h3>

    <div>
        <label for ="username-signup">username</label>
        <input type ="text" id="username-signup" />
    </div>

    <div>
        <label for ="password-signup">password</label>
        <input type ="password" id="password-signup" />
    </div>
        <div>
        <button type="submit">Signup</button>
        <a class="login-link" href="/login">Log in instead</a>
        </div>
</form>