* {
    box-sizing:border-box;
    color:#2A52BE;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body , html {
  color:orange;
  font-family: 'Courier New', Courier, monospace;
}

a {
    color:brown;
    font-weight: bold;
}

h1 {
    color:purple;
}

button {
  background-color: yellow;
}

.main-title {
  color:purple;
}

#logout-btn {
    border-radius: 10px;
    background-color: beige;
}

#no-button {
  color:purple;
  border-radius: 10px;
}

#comment{
  color:green;
}

#text {
  color:aquamarine;
}

#post{
  background-color: bisque;
}

#btn{
  color:azure;
}
.delete-btn {
    background-color: #a72525;
  }

textarea, input {
    padding:1%;
    border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
  }

  /* form label {
    display: block;
  } */

  .post {
    color: orange;
  }

  .new-post-form input {
    width: 200px;
  }

  .post-text {
    color:blanchedalmond;
  }

  .comment-form {
    margin-bottom: 5%;
  }

  .edit-post-form {
    margin-bottom: 10%;
  }

  footer {
    border-top: 3px solid greenyellow;
    display: flex;
    justify-content: center;
    padding: 2%;
    font-size: 75%;
  }