* {
    box-sizing:border-box;
    color:orange;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
  
}

body, html {
  color: orange;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 10px;
}

header {
  border: dotted white 1px;
  margin-left: 10px;
  margin-bottom: 15px;
}

main {
  margin-left: 10px;
  margin-top: 30px;
}

a {
    color:green;
    padding: 2px;
}

a:hover {
  background-color: purple;
}

h1 {
    color:purple;
}

button {
  margin-top: 5px;
  background-color: purple;
}

p {
font-style: italic;
}

.tag {
  font-size: 75%;
  margin: 3px;
  color:antiquewhite;
  border-radius: dotted white 1px;
}

.phrase {
  align-content: flex-end;
}

.main-title {
  align-items: flex-end;
  color:purple;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#textarea {
  color:orange;
}

#post-content, #post-title{
  background-color: bisque;
}

#btn{
  color:azure;
}

#delete-btn {
    background-color: #a72525;
  }

textarea, input {
    padding:1%;
    border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
  }

  form label {
    display: block;
  }

  .post-title {
    color: orange;
  }

  .new-post-form input {
    width: 200px;
  }

  .post-text {
    color:blanchedalmond;
  }

  .comment-form {
    margin-bottom: 5%;
  }

  .edit-post-form {
    margin-bottom: 10%;
  }

  footer {
    margin-top: 10px;
    border-top: 3px solid green;
    display: flex;
    justify-content: center;
    padding: 2%;
    font-size: 100%;
  }